<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="merchpagehead::merchpagehead"></head>
    <body>
        <div th:replace = "menubarauth::menubarauth(authTitle='Редактирование профиля')"></div>
        <div id = "formContainer">
	       <form th:action="@{/account}" method="post">
	       	<h5 class = "field" style = "text-align: center" th:if="${ro}" th:text="${readOnly}"></h5>
	       	<div class = "field"><label> Фамилия:  </label><input th:disabled="${ro}" type="text" th:value="${surname}" name="surname"/></input></div>
	       	<div class = "field"><label> Имя: </label><input th:disabled="${ro}"  type="text" th:value="${firstname}" name="firstname"/></input></div>
	       	<div class = "field"><label> Отчество:  </label><input th:disabled="${ro}"  type="text" th:value="${patronymic}" name="patronymic"/></input></div>
	       	<div class = "field"><label> Дата рождения: </label><input th:disabled="${ro}"  type="date" th:value="${birthdate}" name="birthdate"/></input>
	       		<div class="authNote" th:if="${badDate}" th:text="${badDate}"></div>
	       	</div>
	       <!--	<div class = "field"><label> Город: </label><input th:disabled="${ro}"  type="text" pattern = "|^[-А-Я-а-я]+$|i" th:value="${city}" name="city"/></input>
	       		<div class="authNote" th:if="${wrongCity}" th:text="${notAnEmail}"></div>
	       	</div>-->
	       	<div class = "field"><label> Регион: </label><select onchange = "getCityList(this.options[this.selectedIndex].value)">
	       		<option disabled selected>Выберите регион</option>
	       		<option th:each="region:${regionList}" th:value="${region.getRegion_id()}" th:text="${region.getTitle()}"></option>
	       	</select></div>
	       	<div class = "field" id="cityList"><label> Город: </label>
	       		<select name = "city" th:value="${city}" disabled>
	       			<option disabled selected th:text="${city}" th:value="${city}">Выберите город</option>
	       		</select>
	       	</div>
	       	<div class = "field"><label> Адрес: </label><input th:disabled="${ro}"  type="text" th:value="${address}" name="address"/></input></div>
	       	<div class = "field"><a id = "change" style = "align-self:center" href="#" onclick = "showPassChange()">Сменить пароль</a></div>
	       	<div id = "passChange" style = "display: none;">
	       		<div id = "cancelChange" class = "field"><a href="#" onclick = "hidePassChange()">Отмена</a></div>
	       		<div class = "field"><label> Новый пароль: </label><input th:value="${password}" type="text" name="password"/></input>
	        	<div class="authNote" th:if="${passwordTooShort}" th:text="${passwordTooShort}"></div>
	        	</div>
	        	<div class = "field"><label> Потдтверждение пароля: </label><input th:value="${confirm}" type="text" name="confirm"/></input>
	        	<div class="authNote" th:if="${passwordDoesntMatch}" th:text="${passwordDoesntMatch}"></div>
	        	</div>
	       	</div>
	        <div class = "field">
	        	<input type="submit" style = "margin-top: 10%" class="btn btn-primary btn-lg"></input>
	        </div>
	       </form>
        </div>
    </body>
</html>