<html xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="admincontents">
		<div id="admincontents" class = "flexTable">
			<form th:id="${item.getId_PK()}" th:action="@{/adminium/edit_account}" method="post" class = "flexTableRow" th:each="item:${items}">
				<!--  <form th:action="@{/editAccount}" method="post">-->
					<a style = "font-size: 4vh" th:itemId = "${item.getId_PK()}" class = "rowElem" href="#" onclick="removeAccount(this.getAttribute('itemId'))">X</a>
					<input style = "width:50px;" name="id_PK" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getId_PK()}">
					<input name = "surname" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getSurname()}">
					<input name = "firstname" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getFirstname()}">
					<input name = "patronymic" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getPatronymic()}">
					<input name = "birthdate" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "date" th:value = "${item.getBirthdate()}">
					<input name = "city" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getCity()}">
					<input name = "address" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getAddress()}">
					<input name = "username" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getUsername()}">
					<input name = "password" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getPassword()}">
					<input name = "active" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "checkbox" th:checked="${item.getActive()}">
					<!--  <input name = "roles" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getRoles()}">-->
					<select name = "roles" th:class="${item.getId_PK()}" class = "rowElem" disabled th:value = "${item.getRoles()}">
						<option th:text = "${item.getRoles()}" th:text = "${item.getRoles()}"></option>
						<option th:unless="${item.getRoles()=='CONSUMER'}" value="CONSUMER">CONSUMER</option>
						<option th:unless="${item.getRoles()=='DELIVERY'}"  value="DELIVERY">DELIVERY</option>
						<option th:unless="${item.getRoles()=='ADMIN'}" value="ADMIN">ADMIN</option>
					</select>
					<a th:id = "editLink+${item.getId_PK()}" th:itemId = "${item.getId_PK()}" class = "rowElem" href="#" onclick="editAccount(this.getAttribute('itemId'),this.getAttribute('state'))" state="EDIT">EDIT</a>
				<!--</form>-->
			</form>
			<form id="new" th:action="@{/adminium/new_account}" method="post" class = "flexTableRow">
				<!--  <form th:action="@{/editAccount}" method="post">-->
					<a style = "font-size: 4vh; color: gray" disabled class = "rowElem" href="#">X</a>
					<input style = "width:50px;" type = "text" disabled value = "ID">
					<input name = "surname" type = "text">
					<input name = "firstname" type = "text">
					<input name = "patronymic" type = "text">
					<input name = "birthdate" type = "date">
					<input name = "city" type = "text">
					<input name = "address" type = "text">
					<input name = "username" type = "text">
					<input name = "password" type = "text">
					<input name = "active" type = "checkbox" >
					<!--  <input name = "roles" th:class="${item.getId_PK()}" class = "rowElem" disabled type = "text" th:value = "${item.getRoles()}">-->
					<select name = "roles">
						<option value="CONSUMER">CONSUMER</option>
						<option value="DELIVERY">DELIVERY</option>
						<option value="ADMIN">ADMIN</option>
					</select>
					<a href="#" onclick="newAccount()" class = "rowElem" state="EDIT">SAVE</a>
					<!-- th:action="@{/adminium/new_account}" -->
				<!--</form>-->
			</form>
		</div>
		<br>
		<h3 style = "align-self:center" th:text="${error}"></h3>	
	</body>
</html>