<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="cartcontents">
	<div class = "cartItem" th:each="item:${items}">
		<img class = "cartItemImg" th:src = "${item.getMerchFK().getImgsrc()}"></img>
		<div class = " innerItem">
			<p class = "cartItemTitle" th:text="${item.getMerchFK().getTitle()}">D&W New Gigachad</p>
			<span class = "cartItemInfo"><p>Размер: <span th:text="${item.getMerchSizeFK()
			.getSizeFK()
			.getTitle()}">М</span></p><p>Скидка: <span th:text="${(1-(item.getCost()/item.getMerchFK().getPrice()))*100}">75</span>%</p></span>
		</div>
		<div class = "innerItem" id = "cartItemPriceContainer">
			<span>
					Цена: <span th:text="${item.getCost()*item.getQuantity()}">3600</span><span> р.</span>
			</span>
			<div class="btn-group innerItem" role="group">
				<button th:itemId=${item.getId_PK()} id="incrementButton" th:onclick="incrementItem(this.getAttribute('itemId'))" type="button"class="btn btn-secondary quantBut innerItem">+</button>
				<button type="button" disabled class="btn btn-secondary"><span id = "quantityPicked" th:text=${item.getQuantity()}>0</span></button>
				<button th:itemId=${item.getId_PK()} id="decrementButton" th:onclick="decrementItem(this.getAttribute('itemId'))" type="button" class="btn btn-secondary quantBut">-</button>
			</div>
		</div>
		<a id = "cartItemRemove" th:itemId=${item.getId_PK()} href="#" th:onclick="removeItem(this.getAttribute('itemId'))">X</a>
	</div>
	<a th:if="${hasItems}" href = "/purchase"><button type="submit"  id = "orderButton" class="btn btn-primary btn-lg">Оформить заказ на сумму: <span th:text="${totalCost}"></span><span> рублей</span></button></a>
	<h2 th:unless="${hasItems}"><br><br><br>В данный момент ваша корзина пуста!<br><br><br></h2>
</body>
</html>
