<!DOCTYPE html>
<!--Made by: Ryakhovky A.V, b1-IFST-21; started at: 18.05.2020-->
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="merchpagehead::merchpagehead(carousel=true)"></head>
	<body onload = "loadContent('Casual')">
		<div th:replace = "menubar::menubar(user=${user})"></div>
		<div id = "mainContainer">
			<div id = "mainInfo" style = "background-image: url(graphics/backs/casual.jpg)">
				<div id = "mainInfoContainer"  class = "flexElems">
					<div id = "header" class = "innerElem">Коллекция "кэжуал"</div>
					<div id = "desc" class = "innerElem">Разработанная специально под нужды каждодневного использования, данная коллекция
					отвечает всем требованиям простоты в уходе, прочности, удобства и эстетики. Если Вы заинтересованы, просто промотайте
					вниз и посмотрите сами!</div>
				</div>
			</div>
			<div th:replace="carousel::carousel"></div>
			<div id = "merchInfo" class = "flexElemsRow"></div>
			<script type = "text/javascript" th:src="@{/scripts/carouselInit.js}"></script>
			</div>
		<div th:replace="footer::footer"></div>
	</body>
</html>