<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<body>				
		<div th:fragment="footer" id = "footer" class = "flexElemsRow">
			<div id = "footerLinks" class = "flexElems">
				<p>Информация о доставке</p>
				<p>Политика приватности</p>
				<p>Обратная связь</p>
				<p>Банковские реквизиты</p>
			</div>
			<div id = "footerAbout" class = "flexElems">
				<p>Dirkholme&Wolff Ltd.</p>
				<p>Russian Federation, Saratov, Polytekhnicheskaya St. 71</p>
				<p>Сайт разработан Ряховским А.В, б1-ИФСТ-21</p>
				<p>2018-2020. All rights reserved</p>
			</div>
		</div>
	</body>
</html>