<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<body>				
		<div th:fragment="footer" id = "footer" class = "flexElemsRow">
			<div id = "footerLinks" class = "flexElems">
				<p>Shipping Information</p>
				<p>Privacy Policy</p>
				<p>Feedback</p>
				<p>Bank Accounts</p>
			</div>
			<div id = "footerAbout" class = "flexElems">
				<p>Dirkholme&Wolff Ltd.</p>
				<p>Russian Federation, Saratov, Polytekhnicheskaya St. 71</p>
				<p>Website developed by: Ryakhovky Artyom</p>
				<p>2018-2020. All rights reserved</p>
			</div>
		</div>
	</body>
</html>