<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<body>	
		<nav th:fragment="menubar" id = "menu" class="navbar navbar-expand-lg navbar-light">
			<a id = "dw_logo_button"class="navbar-brand" href="#" onclick = "resetContents()">D&W Fashion</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto" id = "menuBar">
					  <li class="nav-item active">
						<a class="nav-link" href="#">Кэжуал</a>
					  </li>
					  <li class="nav-item active">
						<a class="nav-link" href="#">Деловая</a>
					  </li>
					  <li class="nav-item active">
						<a class="nav-link" href="#">Спортивная</a>
					  </li>
					  <li class="nav-item active">
						<a class="nav-link" href="#">Аксессуары</a>
					  </li>
					</ul>
				<!--	<ul id = "auxBts" class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a href="#" id = "loginBtn" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log in</a>
						</li>
						<li class="nav-item active">
							<a href="#" role = "button"><img src = "graphics/cart.png"></img></a>
						</li>
					</ul> -->
				  </div>
				  <div th:if="not ${user}">
				  	<a href="/login">
				  		<button id="loginButton" type="button" class="btn btn-secondary">Войти в аккаунт
				  		</button>
				  	</a>
				  </div>
				  <!--  <div class="dropdown-menu" th:if="${user}" th:text="${user.getSurname()}+${user.getFirstname()}">
				  	<a href="#">Корзина</a>
				  	<a href="#">Заказы</a>
				  	<a href="/logout">Выход</a>
				  </div>-->
				  <div class="dropdown show" th:if="${user}">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Ряховский Артём</a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" href="#">Корзина</a>
					    <a class="dropdown-item" href="#">Заказы</a>
					    <a class="dropdown-item" href="/logout">Выход</a>
					  </div>
				 </div>
				  <!--<div id = "auxBts">
						<a href="#" id = "loginBtn" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log in</a>
						<a href="#" role = "button"><img src = "graphics/cart.png"></img></a>
				 </div> -->
		</nav>
	</body>
</html>