<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="_csrf" content="${_csrf.token}"/>
    	<meta name="_csrf_header" content="${_csrf.headerName}"/>
	</head>
	<body>	
		<nav th:fragment="menubaradmin" id = "menu" class="navbar navbar-expand-lg navbar-light">
			<a id = "dw_logo_button"class="navbar-brand" href="#" onclick = "resetContents()">D&W Adminium</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto" id = "menuBar">
					  <li class="nav-item active">
					  	<div class="dropdown show dropdown" th:if="${user}">
					  		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    		CRUD
					    	</a>
					  		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    		<a class="dropdown-item" href="#" onclick = "accounts()">Аккаунты</a>
					    		<a class="dropdown-item" href="#" onclick = "merch()">Товары</a>
					  		</div>
				 		</div>
					  </li>
					  <li class="nav-item active">
					  	<div class="dropdown show dropdown" th:if="${user}">
					  		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    		EAV
					    	</a>
					  		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    		<a class="dropdown-item" href="/account">Товар-Свойства</a>
					    		<a class="dropdown-item" href="/account">Товар-Цвета</a>
					    		<a class="dropdown-item" href="/account">Товар-Скидки</a>
					  		</div>
				 		</div>
					  </li>
					  <li class="nav-item active">
					  	<div class="dropdown show dropdown" th:if="${user}">
					  		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    		NATIVE
					    	</a>
					  		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    		<a class="dropdown-item" href="/account">SELECT FROM</a>
					    		<a class="dropdown-item" href="/account">UPDATE</a>
					    		<a class="dropdown-item" href="/account">DELETE</a>
					    		<a class="dropdown-item" href="/account">ALTER TABLE</a>
					  		</div>
				 		</div>
					  </li>
					</ul>
				  </div>
				  <div class="dropdown show dropleft" th:if="${user}">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span th:text="${user.getSurname()}"></span>  <span th:text="${user.getFirstname()}"></span></a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" href="/account">Настройки</a>
					    <a class="dropdown-item" href="/logout">Выход</a>
					  </div>
				 </div>
		</nav>
	</body>
</html>