<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="merchdesc" id = "merchDesc">
			<p id = "merchDescTitle" th:text="${merch.get().getTitle()}">Dirkholme&Wolff Leather Jacket</p>
			<p id = "merchDescBlah" th:text="${merch.get().getDescription()}">Who doesn't like leath? It's difficult to find someone, who minds wearing
			such a popular garment. Thus, D&W designers have brought to you a present - redesigned version of the classical leath! The new version is far more versatile and made of a high-quality leather, to ensure the comfort and sturdyness!</p>
			<br>
			<p class = "charTableTitle">Информация: </p>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Материал: <tr th:each="mat,iterStat:${matList}">
				<td style = "margin-right: 2%" th:utext="${mat.getTitle()}"></td><td th:if = "${not iterStat.last}" th:inline="none">, </td></tr></li>
				<li class="list-group-item">Тип: <span th:text = "${typeTitle}">outwear</span></li>
				<tr th:each="value,iterStat:${valuesList}">
					<li class="list-group-item"><td th:with="propID=${value.getPropertyFK().getId_PK()}" th:text="${propList.get(iterStat.index).getTitle()}"></td><td>: </td><td th:text="${value.getValue()}"></td><td> </td><td th:text="${propList.get(iterStat.index).getMeasure()}"></td></li>
				</tr>
				<li class="list-group-item">Доступные размеры: M, L, XL</li>
				<li class="list-group-item">Доступные цвета: <tr th:each="col,iterStat:${colList}">
				<td style = "margin-right: 2%" th:utext="${col.getTitle()}"></td><td th:if = "${not iterStat.last}" th:inline="none">, </td></tr></li>
				<li class="list-group-item">Цена: <span th:text = "${finalPrice}">69</span> RUB
				<tr th:each="disc,iterStat:${discList}"><td th:if = "${iterStat.first}">(</td><td th:text="${disc.getTitle()}"></td><td th:if="${not iterStat.last}">, </td><td th:if="${iterStat.last}">)</td></tr></li>
			</ul>
		</div>
	</body>
</html>