<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>D&W Online Shop</title>
		<meta charset = "utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel = "stylesheet" type="text/css" media="screen" href = "/styles/bootstrap/bootstrap.min.css"/>
		<link rel = "stylesheet" type="text/css" media="screen" href = "/styles/bootstrap/bootstrap-reboot.min.css"/>
		<link rel = "stylesheet" type="text/css" media="screen" href = "/styles/bootstrap/bootstrap-grid.min.css"/>
		<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
		<link rel = "stylesheet" type="text/css" media="screen" href = "/styles/fonts.css"/>
		<link rel = "stylesheet" type="text/css" media="screen" href = "/styles/styles.css"/>
		<script src = "/scripts/jquery/jquery.js"></script>
		<script src = "/scripts/bootstrap/bootstrap.min.js"></script>
		<script src = "/scripts/bootstrap/bootstrap.bundle.min.js"></script>
		<script src = "/scripts/main.js"></script>
	</head>
</html>