<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="merchdesc" id = "merchDesc">
			<p id = "merchDescTitle" th:text="${merch.getTitle()}">Dirkholme&Wolff Leather Jacket</p>
			<p id = "merchDescBlah" th:text="${merch.getDesc()}">Who doesn't like leath? It's difficult to find someone, who minds wearing
			such a popular garment. Thus, D&W designers have brought to you a present - redisigned version of the classical leath! The new version is far more versatile and made of a high-quality leather, to ensure the comfort and sturdyness!</p>
			<br>
			<p class = "charTableTitle">Information: </p>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" th:text="${merch.getYear()}">Year: 2019</li>
				<li class="list-group-item">Material: calf leather, polyester, viscose</li>
				<li class="list-group-item">Type: outwear</li>
				<li class="list-group-item">Colours avaliable: black, brown, gray</li>
				<li class="list-group-item">Sizes avaliable: M, L, XL</li>
				<li class="list-group-item">Price: 69 USD$</li>
			</ul>
		</div>
	</body>
</html>