<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="merchpagehead">
		<title>D&W Online Shop</title>
		<meta charset = "utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--  <meta th:name="_csrf" th:content="${_csrf.token}"/>-->
		<!--<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>-->
		<link th:rel = "stylesheet" type="text/css" media="screen" th:href = "@{/styles/bootstrap/bootstrap.min.css}"/>
		<link th:rel = "stylesheet" type="text/css" media="screen" th:href = "@{/styles/bootstrap/bootstrap-reboot.min.css}"/>
		<link th:rel = "stylesheet" type="text/css" media="screen" th:href = "@{/styles/bootstrap/bootstrap-grid.min.css}"/>
		<link th:rel="stylesheet" type="text/css" th:href="@{/slick/slick.css}"/>
		<link th:rel="stylesheet" type="text/css" th:href="@{/slick/slick-theme.css}"/>
		<link th:rel = "stylesheet" type="text/css" media="screen" th:href = "@{/styles/fonts.css}"/>
		<link th:rel = "stylesheet" type="text/css" media="screen" th:href = "@{/styles/styles.css}"/>
		<script type = "text/javascript" th:src = "@{/scripts/jquery/jquery.js}"></script>
		<script type = "text/javascript" th:src = "@{/scripts/popper/popper.min.js}"></script>
		<script type = "text/javascript" th:src = "@{/scripts/bootstrap/bootstrap.min.js}"></script>
		<script type = "text/javascript" th:src = "@{/scripts/bootstrap/bootstrap.bundle.min.js}"></script>
		<script type = "text/javascript" th:src = "@{slick/slick.min.js}"></script>
		<script type = "text/javascript" th:src = "@{/scripts/main.js}"></script>
	</head>
</html>