<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="ordercontents">
	<div class = "cartItem" th:each="item:${items}">
		<img class = "cartItemImg" th:src = "${item.getItemFK().getMerchFK().getImgsrc()}"></img>
		<div class = " innerItem">
			<p th:text="${item.getItemFK().getMerchFK().getTitle()}">D&W New Gigachad</p>
			<span class = "cartItemInfo"><p>Размер: <span class = "cartItemInfo" th:text="${item.getItemFK().getMerchSizeFK()
			.getSizeFK()
			.getTitle()}">М</span></p><p>Скидка: <span class = "cartItemInfo" th:text="${(1-(item.getItemFK().getCost()/item.getItemFK().getMerchFK().getPrice()))*100}">75</span>%</p></span>
		</div>
		<div class = "innerItem">
			<p><span class = "cartItemInfo">Дата оформления: </span><span class = "cartItemInfo" th:text="${item.getDate()}"></span></p>
			<p></p>
			<p><span class = "cartItemInfo">Статус заказа: </span><span class = "cartItemInfo" th:text="${item.getStatus()}"></span></p>
		</div>
		<div class = "innerItem" id = "cartItemPriceContainer">
			<span class="cartItemInfo" style = "font-size: 3vh">
					Цена: <span class = "cartItemInfo" th:text="${item.getItemFK().getCost()*item.getItemFK().getQuantity()}">3600</span><span> р.</span>
			</span>
		</div>
		<div class = "innerItem" th:if="${item.getStatus()=='Ожидается'}">
				<div class="dropdown show">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					   Оценка:</a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" href="#">1</a>
					    <a class="dropdown-item" href="#">2</a>
					    <a class="dropdown-item" href="#">3</a>
					    <a class="dropdown-item" href="#">4</a>
					    <a class="dropdown-item" href="#">5</a>
					  </div>
				 </div>
		</div>
		<a th:if="${item.getStatus()=='Ожидается'}" id = "cartItemRemove" th:itemId=${item.getId_PK()} href="#" th:onclick="removeOrder(this.getAttribute('itemId'))">X</a>
		<a style = "color: gray" th:unless="${item.getStatus()=='Ожидается'}" disabled id = "cartItemRemove" th:itemId=${item.getId_PK()} href="#">X</a>
	</div>
	<p><h2 th:unless="${hasItems}">В данный момент у вас нет заказов!</h2></p>
</body>
</html>