<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="merchpagehead::merchpagehead"></head>
    <body>
    	<div th:replace = "menubar::menubar(user=${user})"></div>
	    <div id = "formContainer">
			<p id = "purchaseStatus" th:text="${purchaseStatus}"></p>
			<p id = "purchaseDescription" th:text = "${purchaseDescription}"></p>
			<a href = "/cart">Вернуться в корзину</a>
	    </div>
	    <div th:replace="footer::footer"></div>
    </body>
</html>