<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="merchpagehead::merchpagehead"></head>
    <body>
    		<div th:id="${section}" class = "sorts" th:fragment="sorts">
				<a class = "sortType" onclick = "sortCarousel(this.parentNode.id,'titleAsc'); this.style.color='blue'">Название ▲</a>
				<a class = "sortType" onclick = "sortCarousel(this.parentNode.id,'titleDesc'); this.style.color='blue'">Название ▼</a>
				<a class = "sortType" onclick = "sortCarousel(this.parentNode.id,'priceAsc'); this.style.color='blue'">Цена ▲</a>
				<a class = "sortType" onclick = "sortCarousel(this.parentNode.id,'priceDesc'); this.style.color='blue'">Цена ▼</a>
				<a class = "sortType" onclick = "sortCarousel(this.parentNode.id,'scoreAsc'); this.style.color='blue'">Рейтинг ▲</a>
				<a class = "sortType" onclick = "sortCarousel(this.parentNode.id,'scoreDesc'); this.style.color='blue'">Рейтинг ▼</a>
			</div>
	</body>
</html>