body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	min-height: 100%;
}

#menu {
	/*background: #b5dafd;*/
	background-color: #44a3fc;
	z-index: 10;
}

#menuBar {
	margin-left: 5%;
}

.slick-slide img {
	display: inline;
	width: 25px;
}

#loginButton {
	background-color: transparent;
	border: 2px solid white;
	font-size: 3vh;
}

#profileMenu {
	background-color: transparent;
	border: none;
	font-size: 3vh;
}

#profileMenu:enabled {
	border: none;
}

#menu .nav-item {
	font-size: 2vw;
	font-family: Source;
	margin-right: 15%;
}

#menu #auxBts {
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#menu #auxBts #loginBtn {
	font-size: 1.5vw;
	background: #6db7fc;
	border-color: #44a3fc;
	border-width: 3px;
	font-family: Source;
	font-weight: bold;
}

#menu #authTitle {
	color: white;
	font-family: Arial Narrow;
	font-size: 5vh;
}

#menu #auxBts a img {
	width: 10%;
	height: 10%;
}
 
#menu .nav-item .nav-link {
	color: white;
}

#dw_logo_button {
	font-size: 2.5vw;
	font-family: Voguer;
	color: white;
}

#cartcontents #orderButton {
	font-size: 3vh;
	color: white;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
}

#mainContainer .flexElems {
	display: flex;
	padding: 5%;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	width: 100%;
}

#mainContainer .flexElemsRow {
	display: flex;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	width: 100%;
}

#mainContainer #merchInfo #merchImgContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}

#mainContainer #merchInfo #merchImgContainer #merchActions {
	align-items: center;
	background: #6db7fc;
}

#mainContainer #merchInfo #merchImgContainer #merchActions .dropdown-item {
	background: #6db7fc;
}

#mainContainer #merchInfo #merchImgContainer #merchActions button {
	background: #6db7fc;
}

#mainContainer #merchInfo #merchImgContainer #merchImg {
	height: 100%;
}

#mainContainer #merchInfo #merchDesc {
	width: 60%;
	align-self: flex-start;
	z-index: 4;
}

#mainContainer #merchInfo #merchDesc #merchDescTitle {
	font-family: Franklin Gothic;
	font-size: 4vh;
	font-weight: bold;
	text-align: left;
	
}

#mainContainer #merchInfo #merchDesc #merchDescBlah {
	font-family: Tahoma;
	font-size: 3vh;
	text-align: justify;
}


.charTableTitle {
	font-family: Franklin Gothic;
	font-weight: bold;
	font-size: 3vh;
}

#mainContainer #mainInfo {
	background-size: cover;
	z-index: 1;
}

#mainContainer #mainInfo #mainInfoContainer {
	flex-grow: 1;
	background-color: rgb(150,150,150,0.5);
}

#mainContainer #mainInfo .innerElem {
	z-index: 3;
}

#mainContainer #mainInfo #header{
	font-size: 9vh;
	color: white;
	font-family: Source;
	font-weight: bold;
	margin-top: 2%;
}

#mainContainer #mainInfo #desc{
	font-size: 3vh;
	color: white;
	font-family: Tahoma;
	text-align: justify;
	padding: 5%;
}

#formContainer {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: space-evenly;
	align-items: center;
	align-self: center;
	margin-top: 5%;
	width: 50%;
	height: auto;
	box-shadow: 10px 14px 15px 0px rgba(0,0,0,0.75);
	border-radius: 40px;
	margin-bottom: 5%;
	padding: 3%;
}

#formContainer form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 80%;
}

#formContainer #purchaseStatus {
	font-size: 2.5vh;
}

.field {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 5%;
}

body .btn:focus {
	box-shadow: none;
}

#profileMenu:focus {
	box-shadow: none;
	border: none;
}

.field input {
	width: 200px;
}

.field .authNote {
	font-size: 1.5vh;
}

.star {
	display: inline;
	align-self: center;
	width: 25px;
}

#footer {
	color: white;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #44a3fc;
	margin-top: 5%;
	padding-bottom: 1%;
	align-items: flex-start;
	align-self: flex-end;
	font-size: 2vh;
	flex: 0;
}

#mainContainer #footer #footerLinks {
	font-style: Franklin Gothic;
	align-items: flex-start;
	padding: 0%;
}

#mainContainer #footer #footerAbout {
	align-items: flex-end;
	padding: 0%;
}

#mainContainer .merchCarousel {
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.cartItem {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-warp: none;
	width: 95%;
	height: 200px;
	padding: 2%;
	border: 3px solid white;
	border-radius: 50px;
	box-shadow: 10px 14px 15px 0px rgba(0,0,0,0.75);
	font-family: Franklin Gothic;
	font-size: 4vh;
	margin-bottom: 5%;
}

.cartItem .cartItemImg {
	width: 120px;
}

.cartItem div .cartItemInfo {
	font-size: 2.5vh;
	align-self: flex-end;
}

.cartItem .innerItem {
	margin-left: 3%;
}

.cartItem .cartItemRemove {
	font-size: 5vh;
	font-style: bold;
	color: gray;
	opacity: 0.5;
}

.cartItem #cartItemPriceContainer {
	display: flex;
	flex-direction: row;
	flex-warp: none;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	font-size: 3vh;
}

.cartItem .cartItemInfo p {
    margin-top: -0.5em; 
   }

.cartItem a {
	color: gray;
	text-decoration: none;
	font-size: 5vh;
}

.innerItem .dropdown #statusDrop a {
	font-size: 3vh;
	color: black;
}

.cartItem a:hover {
	font-style: bold;
	color: black;
	opacity: 0.8;
}

.innerItem div .statusMenu {
	font-size: 3vh;
	color: black;
	background: transparent;
	border: none;
}

/*.innerItem .btn-secondary:not(:disabled):not(.disabled).active,
 .btn-secondary:not(:disabled):not(.disabled):active,
  .show>.btn-secondary.dropdown-toggle {
  	color: black;
	background: transparent;
	border: none;
  }*/

.innerItem .statusMenu .dropdown-menu {
	font-size: 3vh;
	color: black;
}

.innerItem div .statusMenu :: active {
	border: none;
}


.merchItem {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-right: 10px;
	margin-left: 10px; 
}

.merchItem .merchItemDesc {
	font-family: Source;
	font-size: 2.5vh;
	font-weight: bold;
	text-align: center;
}

.merchItem button {
	background: white;
	border: 3px solid black;
	color: black;
	font-size: 2vh;
}

.merchItem .quantBut {
	border-radius: 50%;
}

.merchItem .merchItemPic {
	height: 600px; /*Gonna fix that later*/
	width: auto;
}

.flexTable {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: no-wrap;
	overflow-x: auto;
	overflow-y: aut0;
	box-sizing: border-box;
	width: 95%;
}
.flexTable .flexTableRow {
	width: 100%;
	padding-right: 2%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0.5%;
	flex: 1 1 0;
}
.flexTable .flexTableRow .rowElem {
	margin-right:10px;
	margin-left:10px;
	flex: 1 1 0;
}